# Ignore everything
*

# Unignore the .gitignore file itself
!.gitignore

# Unignore the parent directory odoo17
!odoo17/

# Now ignore everything in odoo17 except the custum_addons folder
odoo17/*
!odoo17/custum_addons/
!odoo17/custum_addons/**
